/* ------------------------------ */
/* main container styling */
/* ------------------------------ */
.content {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}
/* ------------------------------ */
/* mobile header styling */
/* ------------------------------ */
#mobile_header {
  width: 95%;
  height: fit-content;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: black;
  margin: 10px auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}
/* catagories selector styling */
.catagory_selector {
  width: 100%;
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  background: #343434;

  position: relative;
  cursor: pointer;
}
.catagory_selector .title {
  margin: 0 auto;
}
.catagory_selector .arrow {
  position: absolute;
  right: 0;
  margin-right: 5px;
}
/* catagories selector styling */
/* catagories  styling */
.catagories {
  height: 0;
  display: none;
  flex-direction: column;
  font-size: 25px;
  overflow: hidden;
  transition: 0.5s;
}
.item_container {
  margin: 20px 0;
  text-align: center;
}

/* catagories  styling */

@media screen and (max-width: 900px) {
  #mobile_header {
    display: flex;
  }
}
/* ------------------------------ */
/* Desktop Index cards styling */
/* ------------------------------ */
#items {
  height: fit-content;
  width: calc(100vw - 10px);
  margin: 5px;
}
/* /////////////////////// */
/* top styling */
/* /////////////////////// */
#items .top {
  height: 60vw;
  max-height: 1500px;

  display: flex;
}
#items .product_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#items .top .wearables {
  height: 100%;
  width: 50%;
  margin-right: 5px;
  background: black;
}
#items .top .spirits_bar {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#items .top .spirits_bar_container {
  height: calc(50% - 2.5px);
  width: 100%;
  background: black;
}

/* /////////////////////// */
/* top styling */
/* /////////////////////// */
/* /////////////////////// */
/* middle styling */
/* /////////////////////// */

#items .middle {
  height: 35vw;
  width: 100%;

  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
#items .middle .middle_container {
  height: 100%;
  width: calc(50% - 2.5px);
  background: black;
}
/* /////////////////////// */
/* middle styling */
/* /////////////////////// */
/* /////////////////////// */
/* bottom styling */
/* /////////////////////// */
#items .bottom {
  height: 35vw;
  width: 100%;

  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
#items .bottom .bottom_container {
  height: 100%;
  width: calc(33.333%);
  background: black;
}
#items .bottom .mr {
  margin-right: 5px;
}
/* /////////////////////// */
/* bottom styling */
/* /////////////////////// */

/* adding hover effect */
#items .product_container:hover {
  cursor: pointer;
  background: #4b4b4b;
}
#items .image {
  height: 80%;
  width: 70%;
  background: white;
  margin: 10px 0;
}
#items .product_text {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}
#items .product_BTN {
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 900px) {
  #items {
    display: none;
  }
}
/* ------------------------------ */
/* mobile Index cards styling */
/* ------------------------------ */
#items_mobile {
  height: fit-content;
  width: calc(100vw - 10px);
  margin: 5px;
}
/* /////////////////////// */
/* top styling */
/* /////////////////////// */
#items_mobile .top {
  height: 70vw;
  max-height: 1500px;
  display: flex;
}
#items_mobile .product_container {
  height: 70vw;
  max-height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#items_mobile .top .wearables {
  height: 100%;
  width: 50%;
  margin-right: 5px;
  background: black;
}
#items_mobile .top .spirits_bar_container {
  height: 100%;
  width: 50%;
  background: black;
}

/* /////////////////////// */
/* top styling */
/* /////////////////////// */
/* /////////////////////// */
/* middle styling */
/* /////////////////////// */

#items_mobile .middle {
  height: 70vw;
  width: 100%;

  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
#items_mobile .middle .middle_container {
  height: 100%;
  width: calc(50% - 2.5px);
  background: black;
}
/* /////////////////////// */
/* middle styling */
/* /////////////////////// */
/* /////////////////////// */
/* bottom styling */
/* /////////////////////// */
#items_mobile .bottom {
  height: 70vw;
  width: 100%;

  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
#items_mobile .bottom .bottom_container {
  height: 100%;
  width: calc(50% - 2.5px);
  background: black;
}
/* /////////////////////// */
/* bottom styling */
/* /////////////////////// */

/* adding hover effect */

#items_mobile .product_container:hover {
  cursor: pointer;
  background: #4b4b4b;
}
#items_mobile .image {
  height: 80%;
  width: 70%;
  background: white;
  margin: 10px 0;
}
#items_mobile .product_text {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 10px;
  color: white;
}
#items_mobile .product_BTN {
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 900px) {
  #items_mobile {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  #items_mobile .top .product_container {
    height: 500px;
    width: 100%;
    margin: 2.5px 0;
  }
  #items_mobile .top {
    height: unset;
    flex-direction: column;
  }

  #items_mobile .middle .product_container {
    height: 500px;
    width: 100%;
    margin: 2.5px 0;
  }
  #items_mobile .middle {
    height: unset;
    flex-direction: column;
  }

  #items_mobile .bottom .product_container {
    height: 500px;
    width: 100%;
    margin: 2.5px 0;
  }
  #items_mobile .bottom {
    height: unset;
    flex-direction: column;
    margin: 0;
  }
}
