#items_mobile {
  height: fit-content;
  width: calc(100vw - 10px);
  margin: 5px;
}
/* /////////////////////// */
/* top styling */
/* /////////////////////// */
#items_mobile .top {
  height: 70vw;
  max-height: 1500px;
  display: flex;
}
#items_mobile .product_container {
  height: 70vw;
  max-height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#items_mobile .top .wearables {
  height: 100%;
  width: 50%;
  margin-right: 5px;
  background: black;
}
#items_mobile .top .spirits_bar_container {
  height: 100%;
  width: 50%;
  background: black;
}

/* /////////////////////// */
/* top styling */
/* /////////////////////// */
/* /////////////////////// */
/* middle styling */
/* /////////////////////// */

#items_mobile .middle {
  height: 70vw;
  width: 100%;

  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
#items_mobile .middle .middle_container {
  height: 100%;
  width: calc(50% - 2.5px);
  background: black;
}
/* /////////////////////// */
/* middle styling */
/* /////////////////////// */
/* /////////////////////// */
/* bottom styling */
/* /////////////////////// */
#items_mobile .bottom {
  height: 70vw;
  width: 100%;

  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
#items_mobile .bottom .bottom_container {
  height: 100%;
  width: calc(50% - 2.5px);
  background: black;
}
/* /////////////////////// */
/* bottom styling */
/* /////////////////////// */

/* adding hover effect */

#items_mobile .product_container:hover {
  cursor: pointer;
  background: #4b4b4b;
}
#items_mobile .image {
  height: 80%;
  width: 70%;
  background: white;
  margin: 10px 0;
}
#items_mobile .product_text {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 10px;
  color: white;
}
#items_mobile .product_BTN {
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 900px) {
  #items_mobile {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  #items_mobile .top .product_container {
    height: 500px;
    width: 100%;
    margin: 2.5px 0;
  }
  #items_mobile .top {
    height: unset;
    flex-direction: column;
  }

  #items_mobile .middle .product_container {
    height: 500px;
    width: 100%;
    margin: 2.5px 0;
  }
  #items_mobile .middle {
    height: unset;
    flex-direction: column;
  }

  #items_mobile .bottom .product_container {
    height: 500px;
    width: 100%;
    margin: 2.5px 0;
  }
  #items_mobile .bottom {
    height: unset;
    flex-direction: column;
    margin: 0;
  }
}
