#product-information {
  width: 95%;
  max-width: 950px;

  margin: 100px auto;
}
#product-information .product-info-nav {
  width: 100%;
  max-width: 850px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}
#product-information .product-info-nav .top {
  width: calc(100% - 311px);

  display: flex;
  justify-content: space-evenly;
}
#product-information .product-info-nav span {
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

#product-information .content-container {
  width: 100%;
  height: fit-content;
  max-height: 500px;
  overflow-y: scroll;
}

/* mobile nav styling */

/* #product-information .nav-mobile {
  width: 100%;
  max-width: 375px;
  display: none;
  flex-direction: column;
  align-items: center;

  margin: 0 auto 20px;
}
#product-information .nav-mobile .top {
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}
#product-information .nav-mobile span {
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
} */

@media screen and (max-width: 700px) {
  /* /////////////// */
  #product-information .product-info-nav {
    width: 100%;
    max-width: 400px;

    flex-direction: column;
    margin: 0 auto 15px;
    text-align: center;
  }
  #product-information .product-info-nav .top {
    width: 100%;

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  #product-information .content-container {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  #productDisplay .textContainer form {
    height: fit-content;
    flex-direction: column;
  }

  /* quantity styling */
  #quantityBar {
    margin-bottom: 15px;
  }

  /* BTN styiling */
  #quantityBar .actionBTNS {
    justify-content: space-between;
  }
  #quantityBar .actionBTNS .addToCart {
    margin: 0;
  }
}

/* css for product informatino slider */

.active-nav {
  color: #c6961c;
  text-decoration: underline;
}
