#posts {
  width: 100%;
  max-width: 1025px;
  height: fit-content;

  display: flex;
  flex-direction: column;
}
/* top informatin styling */
#posts .topInformation {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}
#posts .topInformation select {
  height: max-content;
  border: unset;
}
#posts .topInformation select:active {
  border: unset;
}
/* top infomration styling */

/* post styling */

#posts .postsContainer {
  width: 100%;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#posts .postsContainer .post {
  width: 304px;
  height: 500px;

  display: flex;
  flex-direction: column;

  margin: 10px 10px 50px 10px;
  text-align: center;

  position: relative;
}
/* setting to all span elements */
#posts .postsContainer .post span:not(:last-child) {
  margin-bottom: 2px;
}
/* setting to all span elements */
#posts .postsContainer .imgContainer {
  width: 100%;
  height: 389px;

  margin-bottom: 15px;

  background-color: #f6f6f6;
  padding: 15px;

  position: relative;
}
#posts .postsContainer .imgContainer img {
  object-fit: contain;
  transform: scale(1);
  transition: 0.4s;
}
/* adding new label in top right */
#posts .postsContainer .imgContainer span {
  position: absolute;
  top: 5px;
  right: 5px;
  color: gold;
}
/* adding new label in top right */
#posts .postsContainer .title {
  font-size: 19px;
  font-weight: bold;

  text-transform: uppercase;
}

#posts .postsContainer .description {
  font-size: 15px;
}
#posts .postsContainer .price {
  font-weight: bold;
  font-size: 20px;
}

/* hover event stying */
#posts .postsContainer .hoverContainer {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #01152bb3;

  opacity: 0;

  transition: 0.4s;
}

#posts .postsContainer .hoverContainer span {
  position: unset;
  color: white;
  font-size: 25px;
}
#posts .postsContainer .hoverContainer span:first-child {
  margin-bottom: 30px;
}

/* addding hover event */
#posts .postsContainer .imgContainer:hover {
  cursor: pointer;
}
#posts .postsContainer .imgContainer:hover img {
  transform: scale(0.9);
}
#posts .postsContainer .imgContainer:hover .hoverContainer {
  opacity: 1;
}

/* adding hover event */
