#productDisplay {
  width: 100%;
  max-width: 950px;

  display: flex;
  justify-content: space-between;

  margin: 50px auto;
}

/* image continaer side */
#productDisplay .imgContainer {
  width: 300px;
  height: 400px;

  padding: 15px;

  background-color: #f6f6f6;
}

#productDisplay .imgContainer img {
  object-fit: contain;
}

/* text container side */

#productDisplay .textContainer {
  width: calc(100% - 320px);
  max-width: 600px;

  padding: 15px;

  display: flex;
  flex-direction: column;

  color: #01152b;
}
/* adding margin to all elements */
#productDisplay .textContainer > *:not(:last-child) {
  margin-bottom: 10px;
}

#productDisplay .textContainer .title {
  font: normal normal bold 30px FreightBig Pro;

  text-transform: uppercase;
}
#productDisplay .textContainer .price {
  font: normal normal bold 18px Montserrat;
}

#productDisplay .textContainer .review {
  width: 75px;
  height: 20px;
}
#productDisplay .textContainer .review img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#productDisplay .textContainer .description {
  width: 100%;
  max-width: 400px;
  font: normal normal normal 22px Montserrat;
}

#productDisplay .textContainer form {
  width: 100%;
  height: 50px;

  display: flex;

  align-items: center;
  justify-content: space-between;
}

/* quantity styling */
#quantityBar {
  height: 40px;
  width: 155px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
#quantityBar span {
  height: 100%;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#quantityBar span:first-child {
  border-right: 1px solid black;
  cursor: pointer;
}
#quantityBar span:last-child {
  border-left: 1px solid black;
  cursor: pointer;
}
#quantityBar .actionBTNS {
  width: calc(100% - 152px);
  display: flex;
}
#quantityBar .actionBTNS .addToCart {
  margin: 0 auto;
}

/* BTN styiling */
#productDisplay .textContainer form .actionBTNS {
  width: calc(100% - 150px);
  display: flex;
  justify-content: space-evenly;
}
#productDisplay .textContainer form .addToCart,
.buyNow {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c6961c;
  color: white;

  cursor: pointer;
}

@media screen and (max-width: 850px) {
  #productDisplay {
    flex-direction: column;
    align-items: center;
  }

  /* text container side */

  #productDisplay .textContainer {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  /* / */
  #productDisplay .textContainer form .actionBTNS {
    justify-content: unset;
  }
  #productDisplay .textContainer form .actionBTNS .addToCart {
    margin: 0 auto;
  }
}
@media screen and (max-width: 540px) {
  #productDisplay .textContainer form {
    height: fit-content;
    flex-direction: column;
  }

  /* quantity styling */
  #quantityBar {
    margin-bottom: 15px;
  }

  /* BTN styiling */
  #productDisplay .textContainer form .actionBTNS {
    width: 100%;
    max-width: 320px;
    justify-content: space-between;
  }
  #productDisplay .textContainer form .actionBTNS .addToCart {
    margin: 0;
  }
}

@media screen and (max-width: 540px) {
  #productDisplay .textContainer form {
    height: fit-content;
    flex-direction: column;
  }

  /* quantity styling */
  #quantityBar {
    margin-bottom: 15px;
  }

  /* BTN styiling */
  #productDisplay .textContainer form .actionBTNS {
    flex-direction: column;
    align-items: center;
  }
  #productDisplay .textContainer form .actionBTNS .addToCart {
    margin-bottom: 10px;
  }
}
