/* fixing global styles */

/* .mainContent .navigation {
  display: none;
} */
.mainContent .navigation .right {
  align-items: center;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 800px) {
  /* post */
  .post {
    flex-direction: column;
    align-items: center;
  }
  .post .imgContainer {
    margin-bottom: 10px;
  }
  .post .textContainer {
    width: 100%;
    margin: 0;
  }

  .post .textContainer .title {
    font-size: 25px;
    font-weight: bold;
  }
  .post .textContainer .dateInfo {
    width: 100%;

    /* margin: 5px auto 10px; */
  }

  .post .textContainer .description {
    margin-bottom: 20px;
  }

  .post .readMoreBtn {
    width: max-content;
    display: flex;
    align-items: center;

    border-bottom: 2px solid var(--mainGoldTxt);

    margin-top: auto;
  }
  .post .readMoreBtn img {
    width: 25px;
    height: 25px;
    transform: translateX(0);
    transition: transform 0.3s;
  }
  .post .readMoreBtn:hover img {
    transform: translateX(5px);
  }
}
